@model IPagedList<Common.ViewModel.ProductViewModel>
@using X.PagedList
@{
    ViewData["Title"] = "Danh sách yêu thích";
}
    <div class="my-wishlist-page">
        <div class="row">
            <div class="col-md-12 my-wishlist">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="4" class="heading-title">Danh sách yêu thích</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-md-2"><img src="~/img/sanpham/@item.Image" alt="imga"></td>
                                    <td class="col-md-7">
                                        <div class="product-name"><a>@item.Name</a></div>

                                        <div class="price">
                                            @item.Price.ToString("N0") VNĐ
                                        </div>
                                    </td>
                                    <td class="col-md-2">
                                        <a href="#" class="btn-upper btn btn-primary">Thêm vào giỏ hàng</a>
                                    </td>
                                    <td class="col-md-1 close-btn">
                                        <a asp-action="Delete" asp-controller="WishList" asp-route-id="@item.WishListId" class=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.row -->
    </div>