@model caothang.Areas.Admin.Models.SanPhamModel

@{ ViewData["Title"] = "Create";
    Layout = null;
    string IMG = null;
    if (Model.HinhAnh == null)
        IMG = "TS001.jpg";
    else
        IMG = Model.HinhAnh;
}

<h1>Create</h1>

<h4>SanPhamModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" name="ful" accept="*.png|*.jpg" class="custom-file-input" id="ful" value="" />
                <label class="custom-file-label" for="ful">
                    Chọn Hình
                </label>
            </div>
            <div class="form-group">
                <img id="imgPre" alt="noImage" class="img-thumbnail " src="~/img/sanpham/PS5 DIGITAL.jpg" />
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaLSP" class="control-label"></label>
                <select asp-for="MaLSP" class="form-control" asp-items="@(new SelectList(ViewBag.ListLSP,"MaLSP"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Script{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });
    </script>
}


