

@{
    ViewData["Title"] = "Index";
}

<h1>Phân Quyền</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                TenQuyen
            </th>
            <th>
                ChiTiet
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      
            <tr>
                <td>
                    TenQuyen
                </td>
                <td>
                   ChiTiet
                </td>
                <td>
                    
                </td>
           </tr>
        
    </tbody>
</table>
