<div class="blog-write-comment outer-bottom-xs outer-top-xs">
    @using (Html.BeginForm("AddComment", "Blog", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <form class="register-form" role="form">
                    <label class="info-title" for="exampleInputComments">Bình luận của bạn <span>*</span></label>
                    <textarea name="Comment" class="form-control unicase-form-control" id="Comment"></textarea>
                </form>
            </div>
            <div class="col-md-12 outer-bottom-small m-t-20">
                <input type="hidden" name="ProductId" value="@ViewBag.BlogId" />
                <input class="btn-upper btn btn-primary checkout-page-button" type="submit" id="btnRegister" name="btnRegister" value="Bình luận" />
            </div>
        </div>
    }
</div>