<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Liên hệ với chúng tôi</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body">
                                    <p>115 Trần Xuân Soạn, Q7, TP.HCM</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body">
                                    <p>
                                        0393030574
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body"> <span><a href="#">duyvo049@gmail.com</a></span> </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Giới thiệu</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                            <li class="media">
                                <div class="media-body">
                                    <p>
                                        Chuyên trang Game . Nơi cung cấp đầy đủ các sản phẩm game Playstation, Xbox, Nintendo... giá rẻ,
                                        game mới cập nhật mỗi ngày và kho phụ kiện phong phú cho bạn lựa chọn.
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <p>
                                        Chính sách đổi / trả hàng
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Thời gian làm việc</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                            <li class="media">
                                <div class="media-body">
                                    <p>- Các ngày trong tuần (T2 - T7): 9h - 20h</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <p>
                                        - 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, TP.HCM
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <ul class="link">
                    <li class="fb pull-left"><a target="_blank" rel="nofollow" href="fb.com/thanhduy04" title="Facebook"></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="clearfix payment-methods">
                    <ul>
                        <li><img src="~/assets/images/payments/1.png" alt=""></li>
                        <li><img src="~/assets/images/payments/2.png" alt=""></li>
                        <li><img src="~/assets/images/payments/3.png" alt=""></li>
                        <li><img src="~/assets/images/payments/4.png" alt=""></li>
                        <li><img src="~/assets/images/payments/5.png" alt=""></li>
                    </ul>
                </div>
                <!-- /.payment-methods -->
            </div>
        </div>
    </div>
    @*<a id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>*@
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/echo.min.js"></script>
<script src="~/assets/js/jquery.easing-1.3.min.js"></script>
<script src="~/assets/js/bootstrap-slider.min.js"></script>
<script src="~/assets/js/jquery.rateit.min.js"></script>
<script type="text/javascript" src="~/assets/js/lightbox.min.js"></script>
<script src="~/assets/js/bootstrap-select.min.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/assets/js/site.js"></script>
<script>(function ($) {
        /* ..............................................
           Scroll
           ................................................. */
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 50) {
                $('.main-header').addClass('fixed-menu');
            } else {
                $('.main-header').removeClass('fixed-menu');
            }
        });
        $(document).ready(function () {
            $(window).on('scroll', function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            $('#back-to-top').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });
        });

    }(jQuery));</script>