
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
}
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1">
    <!-- ============================================== TOP MENU ============================================== -->

        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    @if (Context.Session.GetString("user") != null)
                    {
                        string a = Context.Session.GetString("user");
                        Common.Model.UserModel user = JsonConvert.DeserializeObject<Common.Model.UserModel>(a);
                        <div class="cnt-account">
                            <ul class="list-unstyled">
                                <li>
                                    <a asp-action="Index" asp-controller="Cart"><i class="icon fa fa-shopping-cart"></i>Giỏ hàng</a>
                                </li>
                            </ul>

                        </div>
                        <div class="cnt-block">
                            <ul class="list-unstyled list-inline">
                                <li class="dropdown dropdown-small">
                                    <a style="color:snow;" asp-controller="home" asp-action="Login" class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown"><span class="value"><i class="icon fa fa-user"></i>  @user.UserName </span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Order" asp-action="OrderHistory"><i class="far fa-list-alt"></i> Đơn hàng của tôi</a></li>
                                        <li><a><i class="icon fa fa-user"></i>Tài khoản của tôi</a></li>
                                        <li><a  asp-action="Index" asp-controller="WishList"><i class="icon fa fa-heart"></i> Danh sách yêu thích</a></li>
                                        <li><a asp-controller="Home" asp-action="Logout"><i class="icon fa fa-lock"></i> Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul><!-- /.list-unstyled -->
                        </div>

                    }
                    else
                    {
                        <div class="cnt-account">
                            <ul class="list-unstyled">
                                <li>
                                    <a asp-action="Index" asp-controller="Cart"><i class="icon fa fa-shopping-cart"></i>Giỏ hàng</a>
                                </li>
                            </ul>

                        </div>
                        <div class="cnt-block">
                            <ul class="list-unstyled list-inline">
                                <li class="dropdown dropdown-small">
                                    <a asp-controller="home" asp-action="Login" class="dropdown"><span class="value"><i class="icon fa fa-user"></i> Đăng nhập</span></a>

                                </li>

                            </ul><!-- /.list-unstyled -->
                        </div>
                    }
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div> 
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo"> <a asp-action="index" asp-controller="home"> <img src="~/assets/images/logo.png" alt="logo"> </a> </div>
                    <!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= -->
                </div>
                <!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
                    <!-- /.contact-row -->
                    <!-- ============================================================= SEARCH AREA ============================================================= -->
                    <div class="search-area">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                        {
                            <form>
                                <div class="control-group">
                                    <input name="Search" aria-label="Search" type="search" class="search-field" placeholder="Nhập từ khóa sản phẩm cần tìm...">
                                    <button class="search-button" type="submit">
                                    </button>
                                </div>
                            </form>
                        }
                    </div>

                    <!-- /.search-area -->
                    <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                </div>
                @await Component.InvokeAsync("SmallCart")
                <!-- /.top-search-holder -->
                <!-- /.top-cart-row -->
            </div>
                <!-- /.row -->

            </div>
        <!-- /.container -->

    </div>
    <!-- /.main-header -->
    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="dropdown"> <a asp-action="Index" asp-controller="Home">Trang chủ</a> </li>
                                <li class="dropdown">
                                    <a asp-action="Index" asp-controller="Product">Sản phẩm</a>                                  
                                </li>
                                <li class="dropdown"> <a asp-action="Index" asp-controller="Blog">Bản tin</a> </li>
                                <li class="dropdown"> <a asp-action="Contact" asp-controller="Home">Liên hệ</a> </li>
                                <li class="dropdown"> <a asp-action="FAQ" asp-controller="Home">Hỏi đáp</a> </li>
                            </ul>
                            <!-- /.navbar-nav -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.nav-outer -->
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.nav-bg-class -->
            </div>
            <!-- /.navbar-default -->
        </div>
        <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->

</header>

<!-- ============================================== HEADER : END ============================================== -->