@model Common.Model.UserModel
<div class="modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <form > 

                </form>
            </div>
        </div>
    </div>
</div>