<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
    <!-- ================================== TOP NAVIGATION ================================== -->
    <div class="side-menu animate-dropdown outer-bottom-xs">
        <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Danh mục sản phẩm</div>
        <nav class="yamm megamenu-horizontal">
            <ul class="nav">
                @await Component.InvokeAsync("Categories")
            </ul>
        </nav>
    </div>
    @*<div class="col-md-3 sidebar">
        <div class="sidebar-module-container">
            <div class="search-area outer-bottom-small">

            </div>
            @await Component.InvokeAsync("Blogs")
        </div>
    </div>*@
</div>