

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               sanPham
            </th>
            <th>
               hoaDon
            </th>
            <th>
                SoLuong
            </th>
            <th>
                DonGia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                
            </td>
            <td>
              
            </td>
            <td>
               
            </td>
            <td>
               
            </td>
            <td>
                
            </td>
        </tr>

    </tbody>
</table>
