@model IPagedList<Common.Model.Category_PostModel>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <a class="btn btn-outline-primary" asp-action="Create"><img src="~/Admin/img/plus.png" /> Thêm loại bài viết</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Admin/img/edit-a.png" /></a>
                <br />
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Admin/img/list.png" /></a>
                <br />
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Admin/img/trash-bin.png" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
