@model Project.Models.RegisterViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}
<div class="sign-in-page">
    <div class="row">
        <!-- Sign-in -->
        <div class="col-md-6 col-sm-6 sign-in">
            <h4 class="">Thông tin tài khoản</h4>
            <p class="">Thông tin cá nhân</p>
            <form asp-action="ChangePassword" asp-controller="User" class="register-form outer-top-xs" role="form">
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Họ và tên <span>*</span></label>
                    <input type="password" asp-for="PassWord" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Username <span>*</span></label>
                    <input type="password" asp-for="NewPassword" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputPassword1">SĐT <span>*</span></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control unicase-form-control text-input" id="exampleInputPassword1">
                </div>
                <button type="submit">Đổi mật khẩu</button>
            </form>
        </div>
    </div><!-- /.row -->
</div>