@model Common.Model.FeedBackModel

@{
    ViewData["Title"] = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<h3>Bạn có chắc là muốn xóa không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Nội dung
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            Trạng thái
        </dt>
        @if (Model.Status == true)
        {
            <dd>
                Đã xem
            </dd>
        }
        @if (Model.Status == false)
        {
            <dd>
                Chưa xem
            </dd>
        }

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        <a asp-action="Index">Quay trở lại</a>
    </form>
</div>
