@model Common.Model.CategoryModel

@{
    ViewData["Title"] = "Details";
}

<h2>Chi tiết thể loại sản phẩm</h2>

<div>
    <h4>CategoryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên thể loại
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Trạng thái
        </dt>
        @if (Model.Status == true)
        {
            <dd>
                Đang hoạt động
            </dd>
        }
        @if (Model.Status == false)
        {
            <dd>
                Tạm khóa
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Quay trở lại</a>
</div>
