@model IEnumerable<Common.Model.FeedBackModel>
@{ 
    ViewData["Title"] = "Liên hệ";
}
<div class="contact-page">
    <div class="row">
        <div class="col-md-12 contact-map outer-bottom-vs">
            <iframe src=""width="600" height="450" style="border:0"></iframe>
        </div>
    @Html.BeginForm("Contact","Home",FormMethod.Post)
    {
        <div class="col-md-9 contact-form">
            <div class="col-md-12 contact-title">
                <h4>Phản hồi</h4>
            </div>
            <div class="col-md-4 ">
                <form class="register-form" role="form">
                    <div class="form-group">
                        <label class="info-title" for="exampleInputName">Tên của bạn <span>*</span></label>
                        <input name="Name" type="text" class="form-control unicase-form-control text-input" id="exampleInputName" placeholder="">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form class="register-form" role="form">
                    <div class="form-group">
                        <label class="info-title" for="exampleInputEmail1">Email  <span>*</span></label>
                        <input name="Email" type="email" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <form class="register-form" role="form">
                    <div class="form-group">
                        <label class="info-title" for="exampleInputComments">Nội dung <span>*</span></label>
                        <textarea class="form-control unicase-form-control" id="exampleInputComments"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-md-12 outer-bottom-small m-t-20">
                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Gửi hồi đáp</button>
            </div>
        </div>
    }
        <div class="col-md-3 contact-info">
            <div class="contact-title">
                <h4>Thông tin liên hệ</h4>
            </div>
            <div class="clearfix address">
                <span class="contact-i"><i class="fa fa-map-marker"></i></span>
                <span class="contact-span">115 Trần Xuân Soạn</span>
            </div>
            <div class="clearfix phone-no">
                <span class="contact-i"><i class="fa fa-mobile"></i></span>
                <span class="contact-span">039 3030 574</span>
                <span class="contact-span">/ 058 221 1820</span>

            </div>
            <div class="clearfix email">
                <span class="contact-i"><i class="fa fa-envelope"></i></span>
                <span class="contact-span"><a href="#">duyvo049@gmail.com</a></span>
                <span class="contact-span"><a href="#">leloc603@gmail.com</a></span>

            </div>
        </div>
    </div><!-- /.contact-page -->
</div>