<!DOCTYPE html>
<html>
<head>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/admin/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/admin/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/admin/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-image: url('/Admin/Login/bg-01.jpg'); background-repeat: no-repeat; background-size:100% 400%">
    <div class="container">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success notification">
                @TempData["Success"]
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger notification">
                @TempData["Error"]
            </div>
        }
        @RenderBody()
    </div>
</body>
</html>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/bootstrap/js/popper.js"></script>
<script src="~/admin/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/daterangepicker/moment.min.js"></script>
<script src="~/admin/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/admin/login/js/main.js"></script>
<script>
    let showPassword = false
    const ipnElement = document.querySelector('#ipnPassword')
    const btnElement = document.querySelector('#btnPassword')

    btnElement.addEventListener('click', togglePassword)

    function togglePassword() {
        if (showPassword) {
            // Đang hiện password
            // Chuyển sang ẩn password
            ipnElement.setAttribute('type', 'password')
            showPassword = false
        } else {
            // Đang ẩn password
            // Chuyển sang hiện password
            ipnElement.setAttribute('type', 'text')
            showPassword = true
        }
    }
</script>
@*<script>
        function validate() {
            var ValiPhone = /^[0-9]{10}$/;
            var x = document.getElementById("phone11111").value;
            if (!ValiPhone.test(x)) {
                alert("không đúng dịnh dạng sdt");
            }

        }
    </script>*@
<script>
    const error = document.getElementById('error');
    function validate() {

        var ValiPhone = /^[0-9]{10}$/;
        var x = document.getElementById("phone11111").value;
        if (!ValiPhone.test(x)) {
            error.innerHTML = "Số điện thoại không hợp lệ!";
        }
    }
</script>
@await Component.InvokeAsync("Notyf")
