@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" >Thêm loại sản phẩm</a>
</p>
@await Html.PartialAsync("/Areas/ADmin/Views/Shared/MessagesPartial.cshtml")
<form asp-action="Index" method="get">
    <input type="text" name="Search" placeholder="Search..." class="h-25" />
    <input type="submit" value="Tìm kiếm" class=" btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Chức Năng
            </th>
            <th>
               TenLSP
            </th>
            <th>
                Trangthai
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    <a class="btn btn-warning">Sửa</a>
                    <br />
                    <a  class="btn btn-info">Chi Tiết</a>
                    <form >
                        <input type="hidden"  />
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    TenLSP
                </td>
                <td>
                    Hoạt động / Đã Xóa
                </td>

            </tr>
        
    </tbody>
</table>
