@{
    ViewData["Title"] = "Index";
}

<h1>Thống Kê</h1>

<form asp-action="Index" method="get">
    <input type="text" name="Search" placeholder="Search..." class="h-25" />
    <input type="submit" value="Tìm kiếm" class=" btn btn-primary" />
</form>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Danh sách tài khoản</h4>
                <div class="d-flex">
                    <i data-feather="download"></i>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                    <table class="table mb-0" id="table1" onsubmit="return jQueryAjaxPost(this);">
                        <thead>
                            <tr>
                                <th>
                                   TenSP
                                </th>
                                <th>
                                   Gia
                                </th>
                                <th>
                                    Soluong
                                </th>
                                <th>
                                  HinhAnh
                                </th>
                                <th>
                                    MoTa
                                </th>
                                <th>
                                   TrangThai
                                </th>
                                <th>
                                    LoaiSP
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                                <tr>
                                    <td>
                                        TenSP
                                    </td>
                                    <td>
                                        Gia
                                    </td>
                                    <td>
                                        Soluong
                                    </td>
                                    <td class="chinhsua" id="chinhsua">
                                       
                                    </td>
                                    
                                    <td>
                                       
                                       MoTa
                                    </td>
                                    <td>
                                       Hoạt Động / Đã Xóa
                                    </td>
                                    <td>
                                       TenLSP
                                    </td>

                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>