

    <div>
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area">
            <!-- Main Footer Area -->
            <div class="main-footer-area section-padding-100-0">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="100ms">
                                <div class="widget-title">
                                    <a href="index.html"><img src="~/img/core-img/logo2.png" alt=""></a>
                                </div>
                                <div class="widget-content">
                                    <p><b>3E Games </b>là Website bán lẻ chính hãng các thiết bị chơi game với công nghệ cao cấp và các game mới đang thịnh hành như: PlayStation 5, Resident Evil Village,...  </p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="300ms">
                                <div class="widget-title">
                                    <h4>Sản Phẩm</h4>
                                </div>
                                <div class="widget-content">
                                    <nav>
                                        <ul>
                                            <li><a href="#">PlayStation</a></li>
                                            <li><a href="#">Switch</a></li>
                                            <li><a href="#">Xbox</a></li>
                                            <li><a href="#">Game</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="500ms">
                                <div class="widget-title">
                                    <h4>Bản Tin</h4>
                                </div>
                                <div class="widget-content">
                                    <nav>
                                        <ul>
                                            <li><a href="#">PlayStation 5</a></li>
                                            <li><a href="#"><img src="~/img/bg-img/28.jpg" /></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Widget -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="700ms">
                                <div class="widget-title">
                                    <h4>Liên Hệ</h4>
                                </div>
                                <div class="widget-content">
                                    <nav>
                                        <ul>
                                            <li><a href="#"> E-mail: 3Egames@gmail.com</a></li>
                                            <li><a href="#">Hotline: </a></li>
                                            <li><a href="#">Địa Chỉ: </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copywrite Area -->
            <div class="copywrite-content">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-sm-5">
                            <!-- Copywrite Text -->
                            <p class="copywrite-text">
                                <a href="#">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="col-12 col-sm-7">
                            <!-- Footer Nav -->
                            <div class="footer-nav">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="index">Trang Chủ</a></li>
                                    <li><a asp-controller="Product" asp-action="index">PlayStation</a></li>
                                    <li><a asp-controller="Product" asp-action="index">Switch</a></li>
                                    <li><a asp-controller="Product" asp-action="index">Xbox</a></li>
                                    <li><a asp-controller="Blog" asp-action="index">Blog</a></li>
                                    <li><a asp-controller="Contact" asp-action="index">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="~/js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="~/js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="~/js/active.js"></script>
    </div>
