<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Preloader -->
    <div class=" d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="500ms">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="~/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="#" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Tìm kiếm...">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!-- Login Area -->
                            <div style="padding-left:100px"  class="login-area">
                                <a href="#" style="border-radius:10px" ><span>Đăng nhập / Đăng ký</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="index">Trang Chủ</a></li>
                                    <li>
                                        <a asp-controller="GameReview" asp-action="index">Sản Phẩm</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="GameReview" asp-action="index">Game Review</a></li>
                                            <li><a asp-controller="GameReview" asp-action="index">Single Game Review</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Detail" asp-action="index">Pages</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Detail" asp-action="index">Home</a></li>
                                            <li><a asp-controller="Detail" asp-action="index">Articles</a></li>
                                            <li><a asp-controller="Detail" asp-action="index">Single Articles</a></li>
                                            <li><a asp-controller="Detail" asp-action="index">Game Review</a></li>
                                            <li><a asp-controller="Detail" asp-action="index">Single Game Review</a></li>
                                            <li><a asp-controller="Detail" asp-action="index">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Category" asp-action="index">Articles</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Category" asp-action="index">Articles</a></li>
                                            <li><a asp-controller="Category" asp-action="index">Single Articles</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Review" asp-action="index">Reviews</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Review" asp-action="index">Game Review</a></li>
                                            <li><a asp-controller="Review" asp-action="index">Single Game Review</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Contact" asp-action="index">Liên hệ</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
</body>
</html>

