

@{
    ViewData["Title"] = "Index";
}

<h1>Hóa Đơn</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <b>Ngày Lập</b>
            </th>
            <th>
                <b>Người Nhận</b>
            </th>
            <th>
                <b>Số Điện Thoại</b>
            </th>
            <th>
                <b>Địa Chỉ</b>
            </th>
            <th>
                <b>Phương Thức Thanh Toán</b>
            </th>
            <th>
                <b>Tổng Tiền</b>
            </th>
            <th>
                <b>Trạng Thái</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                   
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        
    </tbody>
</table>
