@{
    ViewData["Title"] = "Gửi đơn hàng thành công";
}
<div class="x-page inner-bottom-sm">
    <div class="row">
        <div class="col-md-12 x-text text-center">
            <h3>Cảm ơn bạn đã mua hàng tại Flipmart</h3>
            <p>Đơn hàng của bạn sẽ được xử lý nhanh chóng. </p>
            <a asp-action="index" asp-controller="home"><i class="fa fa-home"></i> Quay về trang chủ</a>
        </div>
    </div><!-- /.row -->
</div>